
.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 200,
  'opsz' 48
}

.cust-vansh {
    background-color: #001d3d !important;
}

.title-cust {
    padding: 8px;
}
.container-fluid a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
}

/* cover image */
.cover img{
    width: 100%;
    height: 889px;
}

/* langauges features */
.lang {
    background-color: #caf0f8;
    padding: 16px;
}

.card {
    background-color: #f8f7ff  !important;
    color: #0b090a !important;
}

.footer {
    background-color: #001d3d;
    color: #f8f7ff;
}

.card-title {
    text-align: center;
    font-weight: 600;    
}

.row {
     margin-bottom: 16px; 
}

.title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 700;
}